.Before {
    background-color: #f2ddd4;
    color: #BC4B4C;
    height: 60vh;
    width: 100%;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: xx-large;
        font-family: sans-serif;
    }
}