.TopTen {
    background-color: #C8E9FE;
    height: 60vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: xx-large;
        font-family: sans-serif;
    }
}