.Search {
    background-color: #EA8E95;
    height: 60vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #BC4B4C;
        font-size: xxx-large;
        font-family: sans-serif;
    }
}

.CatInfo {
    background-color: #EA8E95;
    height: 60vh;
    width: 100%;
    padding: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;

    h1 {
        color: #BC4B4C;
        font-size: xxx-large;
        font-family: sans-serif;
    }
}